* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-family: Orbitron, sans-serif;
    color:white;
}
.container {
    width:100%;
    max-width: 500px;
    padding: 20px;
}